body {
    background-color: gray;
}

.main {
    display: flex;

}

.gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 120vh;
}

.tileGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
    background-color: antiquewhite;
    color: black;
}

.tileGrid>div {
    font-size: 5px;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(1,1fr); */
    /* display: flex; */
    flex-direction: column;
    border: 2px black solid;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.tileGrid>div>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.board>div>span {
    display: flex;

}

.playerpositionid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    /* background-color: rgb(13, 55, 146); */
    border-radius: 10px;
}

.diceOutputid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    /* background-color: rgb(13, 55, 146); */
    border-radius: 10px;
}

.restart {
    margin-left: 75px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    /* background-color: rgb(13, 55, 146); */
    border-radius: 10px;

}
#display {
    /* background-color: blue; */
    border-radius: 10px;
}

.obstacle {
    position: absolute;
}

.invisible {
    display: none;
}
.kl{
    height: 10px;
    /* width: 100px; */
}