.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    
}

.jkl{
    text-align: center;
    background-color: brown;
    border-radius: 20px;
}